.lower-part {
    height: 37.5%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center top;
    transition: all 0.5s;
}

.lower-part-face,
.lower-part-back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    z-index: 2;
}

.lower-part-back {
    backface-visibility: visible;
    transform: rotateX(180deg);
    z-index: 1;
    transition: border-radius 0.5s;
}

.card:hover > .lower-part {
    transform: translateY(120px) rotateX(0.5turn);
}

.card:hover > .lower-part > .lower-part-back {
    border: 1px solid purple;
    border-radius: 0 0 9999px 9999px;
}
